#contact_modal {
    display: none;
}

.titleButton{
    
    padding-top: 10px;
    margin-top: 10px;
}
.currentOrder {
    margin-top: 10px;
    border-radius: 5px 5px 0px 0px;
    padding: 10px 15px 10px 15px;
    background-color: #901C1C;
    color: white;
    width: 100px;
}
.options {
   
    margin-top: 10px;
    border-radius: 5px 5px 5px 5px;
    padding: 5px 10px 10px 10px;
    display: block;
    background-color: #901C1C;
    z-index: 4;
}


.sortButton {
    display: block;
    width: 100px;
    color: white;
    padding: 5px;
    border-bottom: 1px solid white;
}

.date{
    border: none;
    padding-bottom: 5px;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button, #submit_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    margin-top: 20px;

}

.modal header {
    justify-content: space-between;
    width: 100%;
    height: 70%;
    
}


.modal header img {
    cursor: pointer;
    position: relative;
    
}

.modal header h2 {
    font-size: 47px;
    font-weight: normal;
    text-align: center;
}

.modaltitle {
    margin-top: 0px;
    display: flex;
    align-items: center;
}

#photographerName {
    width: 100%;
    margin-top: 0px;
    display: flex;
    justify-content: flex-start;
    font-size: 47px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 0px;
    margin-bottom: 15px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
}

form label {
    color: #312E2E;
    font-size: 24px;
   
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 15px;
}

form input {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
}
form textarea  {
    width: 100%;
    height: 70px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 15px 15px 0px 0px;
    
}